@import '../../../scss/colors.scss';
@import '../../../scss/font.scss';
@import '../../../scss/common.scss';

.field {
  @apply flex flex-col mb-2;
  @apply tiny;
  @apply text-secondary;

  &_required {
    @apply ml-1 text-accent-primary;
  }

  &_back {
    @apply tiny;
    @apply text-secondary cursor-pointer;
  }

  &_file {
    @apply tiny;

    &_wrapper {
      @apply absolute bg-layer-3;
      top: 8px;
      left: 20px;
      right: 20px;

      width: calc(100% - 40px);
      height: calc(100% - 8px);

      &_btn {
        width: fit-content;
        height: 24px;
        @apply tiny;
      }
    }
  }

  &_placeholder {
    @apply tiny;
    padding: 8px 12px !important;
    @apply border border-solid w-full mb-3 border-primary cursor-pointer;
    color: #8f9caf;

    border-radius: 3px;
    background-color: transparent;
  }

  &_input {
    @apply tiny;
    padding: 8px 12px !important;
    @apply border border-solid w-full border-primary cursor-pointer;
    color: white;

    border-radius: 3px;
    background-color: transparent;
  }

  textarea {
    flex: 1;
    margin: 0;
  }
}
