$blue-300-alpha: transparentize(#090d13, 0.7);
$blue-700-alpha: transparentize(#090d13, 0.3);

// gray
$gray-600: #333942;
$gray-500: #7f8792;
$gray-200: #f3f4f6;
$gray-100: #fcfcfc;

// blue

$blue-700: #4878d2;
$blue-500: #5c8dea;
